{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <meta charset="UTF-8"> {% endcomment %}
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% include 'include/navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'include/footer.html' %}

</body>
</html>